@keyframes fadeOut {
    0%   {opacity: 1;visibility: visible;}
    30% {opacity: 0.6;}
    60% {opacity: 0.3;}
    100% {opacity: 0;visibility: hidden;}
  }

.popup_close{
    animation: fadeOut .3s linear forwards;
}